<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  
  <!-- This code describes the actual extension and sets some top level inforation -->
  <Extension code="AGGCOUNTS" name="Aggregation counts Engine Extension" version="1.0" >

    <!-- Administrative information about this plugin -->
    <AdminInfo>
      <Description>This plug-in adds a new engine extension to provide aggregation item counts.</Description>
      <Authors>
        <Author name="Bernardy, Richard" email="rbernard@usf.edu" />
      </Authors>
      <Permissions>GNU General Public License Version 3, 29 June 2007. https://www.gnu.org/licenses/gpl-3.0.en.html</Permissions>
    </AdminInfo>

    <!-- Reference one of more assemblies (referenced relative to the plugin folder) -->
    <Assembly id="AGGCOUNTS" name="AGGCOUNTS.dll" />
    
  </Extension>
  
    <!-- This adds an endpoint to the SobekCM engine which just returns the search information in XML format -->
    <!-- This will be at: [url]/engine/plugins/AGGCOUNTS                                                         -->
    
    <Engine ClearAll="false">
      <Mapping>
        <Path Segment="plugins">
          <Path Segment="AGGCOUNTS">
            <AutoDoc>
              <Description> Return aggregation counts in XML</Description>
              <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
              <Arguments> Search arguments </Arguments>
              <Returns>XML string written to the response</Returns>
            </AutoDoc>
            <Endpoint Segment="xml" ComponentID="AGGCOUNTS_COMP" Method="AGGCOUNTS_Results_XML" Protocol="XML" />
          </Path>
        </Path>
      </Mapping>
      <Components>
        <Component ID="AGGCOUNTS_COMP" Class="AGGCOUNTS.AGGCOUNTS" Assembly="AGGCOUNTS" />
      </Components>
    </Engine>
</SobekCM_Config>